{% extends "my_app/template.html" %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="container">
    {% if error %}
    <div class="alert alert-danger my-5" role="alert">
      Wrong password or username
    </div>
    {% endif %}
    <div class="row">
      <div class="col ">
        <h1 class="text-center my-5">Login</h1>        
      </div>
    </div>
        <div class="row justify-content-center">
          <div class="col col-sm-5">
            <form action="/login" method="POST">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="mb-3 text-center">
                <label for="{{ form.name.id_for_label }}" class="form-label fw-bold">Username</label>
                {{ form.name }}
              </div>
              <div class="mb-3 text-center">
                <label for="{{ form.password.id_for_label }}" class="form-label fw-bold">Password</label>
                {{ form.password }}
              </div>
              <div class="text-center">
                {{ form.hcaptcha }}
              </div>
              <div class="text-center my-3">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
              </div>
            </form>
          </div>
        </div>
  </div>
</div>
{% endblock content %}
