{% extends "my_app/template.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center">
  <div class="progress mt-5" style="width:90%">
    <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
  </div>
  <div>
    <h1 class="text-center my-5">Survey - NASA TLX part1 </h1>
    <p class="text-center"><b> For each scale choose the point that best indicates your experience of the {{task}}</b></p>  
  </div>
  <form action="/task{{id_path}}/part1" method="POST">
    {% csrf_token %}
    <div class="d-flex flex-column align-items-center">
      {% for key, value in nasa_tlx_dic.items %}
      <div class="my-2" style="width:90%; max-width:20cm">
        <h2>{{key}}</h2>
        <p align="justify"> <i class="bi bi-info-circle"></i> {{value}} </p>
        <div class="d-flex justify-content-between">
          <p><b>low</b></p>
          <p><b>high</b></p>
        </div>
        <input type="range" class="form-range" min="0" max="100" step="5" id="{{key}}" name="{{key}}">
      </div>
      {% endfor %}
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg my-5">Next <i class="bi bi-arrow-right-short"></i></button>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
