{% extends "my_app/template.html" %}

{% block content %}
{% load static %}
<div class="d-flex flex-column align-items-center">
  <div class="progress mt-5" style="width:90%">
    <div class="progress-bar" role="progressbar" style="width: {{complete}}%;" aria-valuenow="{{complete}}" aria-valuemin="0" aria-valuemax="100">{{complete}}%</div>
  </div>
  <div>
    <h1 class="text-center my-5">Survey - NASA TLX part2 </h1>
    <p class="text-center"><b>Click on the factor that represents the more important contributor to workload for the {{task}}</b></p>  
  </div>
  <div class="d-flex justify-content-center my-5">
    
    <div class="card me-3" style="max-width:8cm">
      <h3 class="card-header text-center">{{ item1 }}</h3>
      <div class="card-body d-flex flex-column justify-content-between align-items-center">
        <p align="justify" class="card-text">{{description1}}</p>
        <form action="/task{{id_path}}/part2/{{id_question}}/{{item1}}" method="POST">
          {% csrf_token %}
          <div class="text-center">
            <button type="submit" class="btn btn-primary">{{item1}}</button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="card" style="max-width:8cm">
      <h3 class="card-header text-center">{{item2}}</h3>
      <div class="card-body d-flex flex-column justify-content-between align-items-center">
        <p align="justify" class="card-text">{{description2}}</p>
        <form action="/task{{id_path}}/part2/{{id_question}}/{{item2}}" method="POST">
          {% csrf_token %}
          <div class="text-center">
            <button type="submit" class="btn btn-primary">{{item2}}</button>
          </div>
        </form>
      </div>
    </div>
      
  </div>
</div>

{% endblock content %}
