{% extends "my_app/template.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center">
  <div class="progress mt-5" style="width:90%">
    <div class="progress-bar" role="progressbar" style="width: {{complete}}%;" aria-valuenow="{{complete}}" aria-valuemin="0" aria-valuemax="100">{{complete}}%</div>
  </div>
  <div>
    <h1 class="text-center my-5">Survey - NASA TLX part2 </h1>
    <p class="text-center"><b>Which of this two factors was the most challenging/demanding for the {{task}} ?</b></p>  
  </div>

  <div class="d-flex justify-content-center align-items-stretch flex-wrap my-3">
    <form action="/task{{id_path}}/part2/{{id_question}}/{{item1}}" method="POST" class="m-1">
      {% csrf_token %}
      <div class="text-center" style="height:100%">
        <button type="submit" class="btn btn-lg btn-primary" style="width:15em; height:100%">{{item1}}</button>
      </div>
    </form>
    <form action="/task{{id_path}}/part2/{{id_question}}/{{item2}}" method="POST" class="m-1">
      {% csrf_token %}
      <div class="text-center" style="height:100%">
        <button type="submit" class="btn btn-lg btn-primary" style="width:15em; height:100%">{{item2}}</button>
      </div>
    </form>
  </div>
  <p>
    <a data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
        <i class="bi bi-info-circle"></i> What is the difference ? 
    </a>
  </p>
  <div class="collapse" id="collapse">
    <div class="card card-body" style="max-width:15cm">
      <p>
        <b>{{ item1 }} :</b><br>
        {{description1}}
      </p>
      <p>
        <b>{{ item2 }} :</b><br>
        {{description2}}
      </p>
    </div>
  </div>
</div>

{% endblock content %}
