{% extends "my_app/template.html" %}

{% block content %}
{% load static %}
<div class="d-flex flex-column align-items-center">
  {% if first_connection %}
  <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center my-4" role="alert" style="width:90%">
    <i class="bi bi-exclamation-triangle-fill fs-4"></i>
    <div>&nbsp;&nbsp; Your anonymous username is <b>{{user.username}}</b>. Please keep it carefully, you are the only one to know it. You will need it to log in again.</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <div class="container">
    <div class="row">
      <h1 class="text-center mt-5">Welcome {{user.username}} !</h1>
      <p class="text-center my-4">
         Thank you to take some time to complete this study. You will need to complete the following four tasks. You can come back later to complete another task. You need to complete task 1 before task 2 and task 3 before 4. You can only complete every task once. If you complete all the tasks you can show the results. 
      </p>
    </div>
    <div class="row text-center my-2">
      <div>
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#ModalTask1" style="width:75%;" {% if complete_task1 %}disabled{% endif %}>
          {% if complete_task1 %}<i class="bi bi-check2-circle"></i>{% endif %} Task 1 : Assembly with AR method {% if complete_task1 %}[completed in {{time_task1}}]{% endif %}
        </button>
      </div>
    </div>
    <div class="row text-center my-2">
      <form action="/task2/part1" method="get">
        <button type="submit" class="btn btn-primary btn-lg" style="width:75%;" {% if not complete_task1 or complete_task2 %}disabled{% endif %}>
          {% if not complete_task1 %} <i class="bi bi-lock"></i>{% elif complete_task2 %}<i class="bi bi-check2-circle"></i>{% endif %} Task 2 : Feedback of AR assembly
        </button>
      </form>
    </div>
    <div class="row text-center my-2">
      <div>
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#ModalTask3" style="width:75%;" {% if complete_task3 %}disabled{% endif %}>
          {% if complete_task3 %}<i class="bi bi-check2-circle"></i>{% endif %} Task 3 : Assembly with a written guide {% if complete_task3 %}[completed in {{time_task3}}]{% endif %}
        </button>
      </div>
    </div>
    <div class="row text-center my-2">
      <form action="/task4/part1" method="get">
        <button type="submit" class="btn btn-primary btn-lg" style="width:75%;" {% if not complete_task3 or complete_task4 %}disabled{% endif %}>
          {% if not complete_task3 %} <i class="bi bi-lock"></i>{% elif complete_task4 %} <i class="bi bi-check2-circle"></i> {% endif %} Task 4 : Feedback of traditionnal assembly
        </button>
      </form>
    </div>
    <div class="row text-center my-5">
      <form action="/results" method="get">
        <button type="submit" class="btn btn-success btn-lg" {% if not complete %}disabled {% endif %}>
          {% if not complete %} <i class="bi bi-lock"></i> {% else %} <i class="bi bi-unlock"></i> {% endif %} Show the results</button>
      </form>
    </div>
    {% if user.is_superuser %}
    <div class="row text-center my-5">
      <form action="/admin" method="get">
        <button type="submit" class="btn btn-warning btn-lg">
          <i class="bi bi-wrench-adjustable"></i> Admin section
        </button>
      </form>
    </div>
    {% endif %}
  </div>
</div>

<!-- Modal task 1-->
<div class="modal fade" id="ModalTask1" tabindex="-1" aria-labelledby="ModalLabelTask1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelTask1">Explanation of task 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p align="justify">Your first task will be to assemble wooden pieces with the help of an augmented reality (AR) guide. To follow this guide you will wear the Microsoft Hololens 2 headset.</p>
        <p align="justify">Once the application is launched, the interface will look like the picture below:</p>
        <div class="text-center my-3">
          <img src="{% static 'my_app/AR_overview.png' %}" class="rounded" style="min-width:10cm; width:90%">
        </div>
        <p align="justify">First check that the QR codes markers are correctly positioned and detected. </p>
        <p align="justify">You must perform the steps in order. There are 6 steps. Your goal is to imitate what the ghost does as shown in the animation below. To move from one step to another, press the yellow buttons "previous" and "next". </p>
        <div class="text-center my-3">
          <img src="{% static 'my_app/demo.gif' %}" class="rounded" style="min-width:10cm; width:60%">
        </div>
        <p align="justify">To launch a step press the "play" button. Below an animation shows you the desactivation of the play function. </p>
        <div class="text-center my-3">
          <img src="{% static 'my_app/play.gif' %}" class="rounded" style="min-width:5cm; width:30%">
        </div>
        <p align="justify">At any time, you can pause the recording by grabbing the head of the ghost. The following animation shows you how to do this. </p>
        <div class="text-center my-3">
          <img src="{% static 'my_app/pause.gif' %}" class="rounded" style="min-width:10cm; width:60%">
        </div>
        <p align="justify"> Finally, it is possible to reverse the playback direction at any time by pressing the "reverse" button. Example of desactivation of the reverse function:</p>
        <div class="text-center my-3">
          <img src="{% static 'my_app/reverse.gif' %}" class="rounded" style="min-width:5cm; width:30%">
        </div>
        <p align="justify"><b>By clicking on "Start", you will arrive on a page presenting a <i class="bi bi-stopwatch"></i> chronometer that will measure the time you take to complete the assembly. Don't forget to click on "Stop" at the end to record your time.</b></p>
        <p align="justify">You can now launch the application on the Hololens. When you are ready click on "Start". The countdown starts as soon as you click on "Start". </p>

      </div>
      <div class="modal-footer">
        <form action="/task1/0" method="get">
          <button type="submit" class="btn btn-success btn-lg" {% if complete_task1 %}disabled{% endif %}>Start</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal task 3-->
<div class="modal fade" id="ModalTask3" tabindex="-1" aria-labelledby="ModalLabelTask3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelTask3">Explanation of task 3</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p align="justify">Your third task will be to assemble wooden pieces with the help of an written PDF guide.</p>
        <p align="justify"><b>By clicking on "Start", you will arrive on a page presenting the PDF document and a <i class="bi bi-stopwatch"></i> chronometer that will measure the time you take to complete the assembly. Don't forget to click on "Stop" at the end to record your time.</b></p>
        <p align="justify">When you are ready click on "Start". The countdown starts as soon as you click on "Start". </p>
      </div>
      <div class="modal-footer">
        <form action="/task3/0" method="get">
          <button type="submit" class="btn btn-success btn-lg" {% if complete_task3 %}disabled{% endif %}>Start</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
